Repository bounswe/bounswe2022group8, pull requests merged in 2022-12, with the labels that each got.

#304 Feature/FE-15
  App/frontend/src/App.js
  App/frontend/src/auth/authentication.js
  App/frontend/src/layout/data/SidebarData.js
  App/frontend/src/pages/Recommendation.js
  App/frontend/src/pages/RecommendedPages/RecommendedArtitems.js
  App/frontend/src/pages/RecommendedPages/RecommendedExhibitions.js
  App/frontend/src/pages/RecommendedPages/RecommendedUsers.js
  App/frontend/src/pages/data/SampleArtItems.js
  App/frontend/src/pages/data/SampleExhibitions.js
  App/frontend/src/pages/data/SampleUsers.js
  App/frontend/src/pages/styles/Recommendation.css
  App/frontend/src/pages/styles/RecommendedArtitems.css
  App/frontend/src/pages/styles/RecommendedExhibitions.css
  App/frontend/src/pages/styles/RecommendedUsers.css
Labels: Status: Completed, Coding, Team: Frontend

#309 featue/FE-16
  App/frontend/.gitignore
  App/frontend/src/components/IntroImage.js
  App/frontend/src/images/artopia_logo.png
  App/frontend/src/layout/Mainbar.js
  App/frontend/src/layout/MainbarLogged.js
  App/frontend/src/layout/styles/Mainbar.css
Labels: Effort: Low, Status: Completed, Team: Frontend

#314 Feature/MOB-13
  App/mobile/.flutter-plugins
  App/mobile/.flutter-plugins-dependencies
  App/mobile/android/app/src/main/AndroidManifest.xml
  App/mobile/lib/artitem.dart
  App/mobile/lib/comment_page.dart
  App/mobile/lib/home_page.dart
  App/mobile/lib/login.dart
  App/mobile/lib/login_page.dart
  App/mobile/lib/main.dart
  App/mobile/lib/profile.dart
  App/mobile/lib/profile_page.dart
  App/mobile/lib/register.dart
  App/mobile/lib/routes.dart
  App/mobile/lib/signup_page.dart
  App/mobile/lib/templates.dart
  App/mobile/lib/variables.dart
  App/mobile/lib/widgets/comments.dart
  App/mobile/lib/widgets/post.dart
  App/mobile/lib/widgets/posts.dart
  App/mobile/lib/widgets/profile_header_widgets.dart
  App/mobile/pubspec.lock
  App/mobile/pubspec.yaml
Labels: Priority: High, Team: Mobile

#311 bugfix/BE-17
  App/backend/api/serializers/profile.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/profile.py
  App/backend/api/views/user.py
Labels: Bug, Effort: Low, Priority: Low, Status: Review Needed, Coding, Team: Backend

#320 feature/BE-29
  App/backend/api/serializers/profile.py
  App/backend/api/serializers/serializers.py
  App/backend/api/views/comments.py
  App/backend/api/views/profile.py
Labels: Enhancement, Effort: Low, Priority: Medium, Status: Review Needed, Coding, Team: Backend

#292 Feature/BE-23 Tag APIs
  App/backend/api/urls.py
  App/backend/api/views/tags.py
Labels: Effort: Medium, Priority: High, Coding, Team: Backend

#333 feature/BE-30
  App/backend/api/serializers/serializers.py
  App/backend/api/views/artitem.py
Labels: Effort: Low, Priority: Medium, Status: Completed, Coding, Team: Backend

#337 hotfix/FE-20
  App/frontend/src/components/HomeGalleryCard.js
  App/frontend/src/components/HomeImageCard.js
  App/frontend/src/components/styles/HomeGalleryCard.css
  App/frontend/src/components/styles/HomeImageCard.css
  App/frontend/src/constants/host.js
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/Home.js
  App/frontend/src/pages/RecommendedPages/RecommendedArtitems.js
  App/frontend/src/pages/RecommendedPages/RecommendedUsers.js
Labels: Effort: Low, Priority: High, Status: Review Needed

#339 feature/FE-23
  App/frontend/package-lock.json
  App/frontend/package.json
  App/frontend/src/components/__test__/HomeFooter.test.js
  App/frontend/src/components/__test__/IntroImage.test.js
  App/frontend/src/components/__test__/LoginModal.test.js
  App/frontend/src/components/__test__/ResetPasswordModal.test.js
  App/frontend/src/components/__test__/Searchbar.test.js
  App/frontend/src/components/__test__/SettingsPasswordPopUp.test.js
  App/frontend/src/components/__test__/SettingsProfilePopUp.test.js
  App/frontend/src/components/__test__/SignupModal.test.js
Labels: Effort: Low, Priority: High, Status: Review Needed, Team: Frontend

#315 feature/BE-28 Like Unlike APIs
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/artitem.py
  App/backend/api/models/models.py
  App/backend/api/models/user.py
  App/backend/api/serializers/like.py
  App/backend/api/serializers/serializers.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/comments.py
  App/backend/api/views/like.py
Labels: Bug, Status: In Progress, Team: Backend

#319 feature/BE-27 Account deletion API
  App/backend/api/serializers/auth.py
  App/backend/api/urls.py
  App/backend/api/views/auth.py
Labels: Effort: Low, Status: In Progress, Team: Backend

#358 Feature/BE-35: Art Item Category
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/artitem.py
  App/backend/api/serializers/serializers.py
  App/backend/api/views/artitem.py
  App/backend/api/views/like.py
Labels: Effort: Low, Priority: Medium, Status: Completed, Coding, Approved, Team: Backend

#354 feature/BE-32 : User History
  App/backend/api/migrations/0002_artitem_number_of_views.py
  App/backend/api/migrations/0003_alter_artitem_category.py
  App/backend/api/models/artitem.py
  App/backend/api/models/user.py
  App/backend/api/serializers/serializers.py
  App/backend/api/views/artitem.py
  App/backend/api/views/profile.py
  App/backend/backend/settings/base.py
  App/backend/history/__init__.py
  App/backend/history/admin.py
  App/backend/history/apps.py
  App/backend/history/decorators.py
  App/backend/history/migrations/0001_initial.py
  App/backend/history/migrations/__init__.py
  App/backend/history/models.py
  App/backend/history/signals.py
  App/backend/history/tests.py
  App/backend/history/views.py
Labels: Effort: Medium, Priority: Medium, Coding, Approved, Team: Backend

#344 feature/BE-30: Exhibitions
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/migrations/0002_artitem_number_of_views.py
  App/backend/api/migrations/0003_alter_artitem_category.py
  App/backend/api/models/artitem.py
  App/backend/api/models/exhibition.py
  App/backend/api/serializers/exhibition.py
  App/backend/api/serializers/profile.py
  App/backend/api/serializers/serializers.py
  App/backend/api/tests/test_exhibitions.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/comments.py
  App/backend/api/views/exhibition.py
  App/backend/api/views/follow.py
  App/backend/api/views/profile.py
  App/backend/api/views/tags.py
  App/backend/backend/settings/base.py
Labels: Effort: High, Priority: High, Status: Review Needed, Coding, Team: Backend

#364 Feature/BE-36: User Level
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/user.py
  App/backend/api/urls.py
  App/backend/api/views/profile.py
Labels: Effort: Low, Priority: Medium, Status: Completed, Coding, Approved, Team: Backend

#355 feature/FE-12
  App/frontend/src/App.css
  App/frontend/src/components/ResetPasswordModal.js
  App/frontend/src/pages/ArtItem.js
Labels: Enhancement, Effort: Low, Priority: Low, Design, Team: Frontend

#368 feature/BE-37
  App/backend/api/serializers/serializers.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/tags.py
Labels: Effort: Low, Priority: Medium, Coding, Approved, Team: Backend

#374 Feature/FE-24
  App/frontend/src/components/styles/SettingsPasswordPopUp.css
  App/frontend/src/components/styles/SettingsProfilePopUp.css
  App/frontend/src/layout/Layout.js
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/ProfileOther.js
  App/frontend/src/pages/RecommendedPages/RecommendedArtitems.js
  App/frontend/src/pages/RecommendedPages/RecommendedExhibitions.js
  App/frontend/src/pages/RecommendedPages/RecommendedUsers.js
  App/frontend/src/pages/styles/ArtItem.css
  App/frontend/src/pages/styles/Profile.css
Labels: Effort: Low, Priority: High, Coding, Design, Team: Frontend

#376 Feature/FE-19
  App/frontend/package-lock.json
  App/frontend/package.json
  App/frontend/src/App.js
  App/frontend/src/constants/host.js
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/styles/ArtItem.css
Labels: Approved

#366 feature/MIL-19
  LICENSE
Labels: Documentation, Effort: Low, Priority: Low, Status: Completed, Milestone

#371 Feature/BE-38: Bidding System
  App/backend/api/admin.py
  App/backend/api/migrations/0002_artitem_minimum_price_artitem_salestatus_bid.py
  App/backend/api/migrations/0003_alter_bid_amount.py
  App/backend/api/migrations/0004_rename_salestatus_artitem_sale_status.py
  App/backend/api/migrations/0005_artitem_bought_by_alter_bid_accepted.py
  App/backend/api/migrations/0006_alter_artitem_bought_by.py
  App/backend/api/migrations/0007_user_new_bid_flag.py
  App/backend/api/migrations/0008_newbids.py
  App/backend/api/models/artitem.py
  App/backend/api/models/user.py
  App/backend/api/serializers/bidding.py
  App/backend/api/serializers/profile.py
  App/backend/api/serializers/serializers.py
  App/backend/api/signals.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/auth.py
  App/backend/api/views/bidding.py
  App/backend/api/views/profile.py
Labels: Effort: Medium, Priority: Medium, Status: Review Needed, Coding, Team: Backend

#382 feature/BE-39: Backend Unittests [1]
  App/annotations/annotations/settings/base.py
  App/annotations/api/test.py
  App/annotations/api/utils.py
  App/annotations/api/views.py
  App/backend/README.md
  App/backend/api/migrations/0001_initial.py
  App/backend/api/tests/test_artitems.py
  App/backend/api/tests/test_auth.py
  App/backend/api/tests/test_exhibitions.py
  App/backend/api/tests/test_follow.py
  App/backend/api/tests/test_profile.py
  App/backend/api/tests/test_register.py
  App/backend/api/tests/utils.py
  App/backend/api/views/artitem.py
  App/backend/api/views/exhibition.py
  App/backend/api/views/user.py
  App/backend/backend/settings/base.py
  App/backend/requirements.txt
Labels: Effort: Low, Priority: Medium, Status: Review Needed, Coding, Team: Backend

#389 Bugfix/FE-19
  App/annotations/annotations/settings/base.py
  App/annotations/api/migrations/0001_initial.py
  App/annotations/api/models.py
  App/annotations/api/serializers.py
  App/annotations/api/test.py
  App/annotations/api/utils.py
  App/annotations/api/views.py
  App/annotations/test-output/TEST-api.test.TestAnnotations-20221225135223.xml
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/styles/ArtItem.css
Labels: Status: Completed, Coding, Team: Backend, Team: Frontend

#387 bugfix/FE-30
  App/frontend/Dockerfile
  App/frontend/Dockerfile.production
  App/frontend/README.md
  App/frontend/nginx.conf
Labels: Bug, Effort: Low, Priority: High, Status: Review Needed, Coding, Team: Frontend

#386 Feature/BE-40: Recommendation System
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/migrations/0002_artitem_minimum_price_artitem_salestatus_bid.py
  App/backend/api/migrations/0003_alter_bid_amount.py
  App/backend/api/migrations/0004_rename_salestatus_artitem_sale_status.py
  App/backend/api/migrations/0005_artitem_bought_by_alter_bid_accepted.py
  App/backend/api/migrations/0006_alter_artitem_bought_by.py
  App/backend/api/migrations/0007_user_new_bid_flag.py
  App/backend/api/migrations/0008_newbids.py
  App/backend/api/models/artitem.py
  App/backend/api/models/exhibition.py
  App/backend/api/models/user.py
  App/backend/api/signals.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/auth.py
  App/backend/api/views/comments.py
  App/backend/api/views/exhibition.py
  App/backend/api/views/follow.py
  App/backend/api/views/like.py
  App/backend/api/views/profile.py
  App/backend/api/views/recommendation.py
  App/backend/history/migrations/0002_history_art_id_history_is_art.py
  App/backend/history/migrations/0003_history_exhibition_id_history_is_exhibition.py
  App/backend/history/migrations/0004_rename_is_exhibition_history_is_exhibition_off_and_more.py
  App/backend/history/models.py
Labels: Effort: High, Priority: Medium, Status: Review Needed, Coding, Team: Backend

#385 feature/BE-41
  App/backend/api/urls.py
  App/backend/api/views/exhibition.py
Labels: Effort: Low, Priority: High, Status: Review Needed, Coding, Team: Backend

#390 bugfix/BE-30 - [1]
  .idea/workspace.xml
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/exhibition.py
  App/backend/api/serializers/exhibition.py
  App/backend/api/views/exhibition.py
Labels: Bug, Effort: Low, Priority: High, Status: Review Needed, Coding, Team: Backend

#395 bugfix/BE-30 - [2]
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/artitem.py
  App/backend/api/models/exhibition.py
  App/backend/api/serializers/exhibition.py
  App/backend/api/serializers/serializers.py
  App/backend/api/views/artitem.py
  App/backend/api/views/bidding.py
  App/backend/api/views/exhibition.py
Labels: Effort: Medium, Priority: High, Status: Review Needed, Coding, Team: Backend

#381 Feature/be 33
  App/backend/api/migrations/0001_initial.py
  App/backend/api/urls.py
  App/backend/api/views/search.py
Labels: Coding, Team: Backend

#394 Feature/FE-28
  App/frontend/src/App.js
  App/frontend/src/components/Tag.js
  App/frontend/src/components/UploadCard.js
  App/frontend/src/components/styles/UploadCard.css
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/Profile.js
  App/frontend/src/pages/SearchResults.js
  App/frontend/src/pages/styles/ArtItem.css
Labels: Effort: Low, Priority: High, Coding, Team: Frontend

#400 feature/MOB-22
  App/mobile/lib/widgets/TextAnnotation.dart
  App/mobile/lib/widgets/artitem_page_structure.dart
  App/mobile/pubspec.yaml
Labels: Effort: High, Priority: High

#392 Feature/FE-27
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/artitem.py
  App/backend/api/models/user.py
  App/backend/api/signals.py
  App/backend/api/urls.py
  App/backend/api/views/auth.py
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/styles/ArtItem.css
Labels: Priority: High, Status: Completed, Coding, Team: Frontend

#397 hotfix/BE-38: new_bids reset
  App/backend/api/views/profile.py
Labels: Effort: Low, Priority: Medium, Status: Completed, Coding, Team: Backend

#404 Feature/BE-43: Backend Unittests [2]
  App/annotations/test-output/TEST-api.test.TestAnnotations-20221226234740.xml
  App/backend/api/models/artitem.py
  App/backend/api/models/user.py
  App/backend/api/tests/test_artitems.py
  App/backend/api/tests/test_bidding.py
  App/backend/api/tests/test_exhibitions.py
  App/backend/api/tests/test_follow.py
  App/backend/api/tests/test_recommendation.py
  App/backend/api/views/recommendation.py
  App/backend/test-output/TEST-api.tests.test_artitems.ArtItemTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_auth.RegistrationTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_bidding.BiddingTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_comment.CommentTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_exhibitions.ArtItemTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_follow.FollowTest-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_profile.TestProfile-20221226234750.xml
  App/backend/test-output/TEST-api.tests.test_recommendation.RecommendationTest-20221226234750.xml
Labels: Effort: Medium, Priority: Low, Status: Review Needed, Coding, Team: Backend

#408 feature/FE-31:Backend Connection of Recommendation
  App/backend/api/views/recommendation.py
  App/frontend/src/pages/Recommendation.js
  App/frontend/src/pages/RecommendedPages/RecommendedArtitems.js
  App/frontend/src/pages/RecommendedPages/RecommendedExhibitions.js
  App/frontend/src/pages/RecommendedPages/RecommendedUsers.js
Labels: Effort: Low, Priority: High, Coding, Team: Frontend

#412 feature/MIL-20: API Endpoints
  Deliverables/CMPE451_Customer_Presentation_Milestone_3/CmpE451 API.postman_collection.json
  Deliverables/CMPE451_Customer_Presentation_Milestone_3/Group Review.md
Labels: Documentation, Effort: Medium, Priority: High, Status: Review Needed, Milestone, Team: Backend, Assignment

#417 hotfix/FE-33
  App/annotations/api/migrations/0002_alter_body_value.py
  App/annotations/api/models.py
  App/frontend/package-lock.json
  App/frontend/package.json
  App/frontend/src/pages/ArtItem.js
Labels: Bug, Status: Completed, Coding, Team: Backend, Team: Frontend

#415 Feature/FE-32
  App/backend/api/urls.py
  App/backend/api/views/recommendation.py
  App/backend/api/views/search.py
  App/frontend/src/App.js
  App/frontend/src/components/HomeGalleryCard.js
  App/frontend/src/components/LoginModal.js
  App/frontend/src/components/Searchbar.js
  App/frontend/src/components/SignupModal.js
  App/frontend/src/components/UploadOnlineExhibitionCard.js
  App/frontend/src/components/styles/Access.css
  App/frontend/src/layout/Layout.js
  App/frontend/src/layout/data/SidebarData.js
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/Exhibition.js
  App/frontend/src/pages/Profile.js
  App/frontend/src/pages/Recommendation.js
  App/frontend/src/pages/RecommendedPages/RecommendedExhibitions.js
  App/frontend/src/pages/SearchResults.js
  App/frontend/src/pages/SearchResultsTag.js
  App/frontend/src/pages/styles/Profile.css
  App/frontend/src/pages/styles/Recommendation.css
Labels: Effort: Medium, Priority: High, Coding, Design, Team: Frontend

#420 feature/MIL-24
  App/annotations/annotations/settings/base.py
  Deliverables/CMPE451_Customer_Presentation_Milestone_3/Group Review.md
Labels: Documentation, Effort: Low, Priority: Medium, Status: Completed, Milestone, Assignment
