Repository bounswe/bounswe2022group8, pull requests merged in 2022-11, with the labels that each got.

#228 feature/MIL
  Deliverables/CMPE451_Customer_Presentation_Milestone_1/Deliverables.md
Labels: milestone

#252 feature/BE-18
  App/backend/api/migrations/0004_alter_user_email_alter_user_name_alter_user_password_and_more.py
  App/backend/api/models/user.py
  App/backend/api/serializers/auth.py
Labels: Effort: Low, Priority: Low, Status: completed, coding, backend

#245 feature/BE-14
  .gitignore
  App/backend/api/urls.py
  App/backend/api/views/auth.py
  App/backend/backend/settings/base.py
  App/backend/backend/urls.py
  App/backend/requirements.txt
Labels: Effort: Medium, Priority: High, Priority: Medium, Status: review needed, backend

#255 hotfix/BE-14
  App/backend/api/views/auth.py
Labels: bug, Effort: Low, Priority: Low, Status: review needed, coding, backend

#253 Feature/FE-8
  App/backend/api/migrations/0004_alter_user_email_alter_user_name_alter_user_password_and_more.py
  App/backend/api/models/user.py
  App/backend/api/serializers/auth.py
  App/frontend/src/App.css
  App/frontend/src/components/LoginModal.js
  App/frontend/src/components/SignupModal.js
  App/frontend/src/components/styles/Access.css
  App/frontend/src/constants/host.js
  App/frontend/src/images/peacock.jpg
  App/frontend/src/layout/Layout.js
  App/frontend/src/layout/Sidebar.js
Labels: enhancement, Effort: Medium, Status: review needed, coding, frontend

#256 Feature/FE-10
  App/frontend/src/App.js
  App/frontend/src/images/defaultUserImage.png
  App/frontend/src/layout/Layout.js
  App/frontend/src/layout/MainbarLogged.js
  App/frontend/src/layout/Sidebar.js
  App/frontend/src/pages/Profile.js
  App/frontend/src/pages/styles/Profile.css
Labels: Priority: Medium, design, frontend

#247 feature/BE-15
  App/backend/backend/settings/base.py
  App/backend/backend/settings/development.py
  App/backend/requirements.txt
Labels: Effort: Medium, Priority: High, Status: completed, coding, backend

#249 feature/BE-16
  App/backend/api/migrations/0004_user_about_alter_user_name_alter_user_password_and_more.py
  App/backend/api/migrations/0005_user_location_user_title.py
  App/backend/api/migrations/0006_remove_user_title.py
  App/backend/api/models/user.py
  App/backend/api/serializers/profile.py
  App/backend/api/urls.py
  App/backend/api/utils.py
  App/backend/api/views/auth.py
  App/backend/api/views/profile.py
  App/backend/backend/settings/production.py
  App/backend/docker-compose.yml
  App/backend/requirements.txt
Labels: Effort: High, Priority: High, Status: completed, coding, backend

#270 feature/BE-21
  .gitignore
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/migrations/0002_delete_professor_delete_student_delete_teacher.py
  App/backend/api/migrations/0003_rename_is_active_user_user_is_level2_and_more.py
  App/backend/api/migrations/0004_alter_user_email_alter_user_name_alter_user_password_and_more.py
  App/backend/api/migrations/0004_user_about_alter_user_name_alter_user_password_and_more.py
  App/backend/api/migrations/0005_user_location_user_title.py
  App/backend/api/migrations/0006_remove_user_title.py
  App/backend/api/models/artitem.py
  App/backend/api/models/models.py
  App/backend/api/models/user.py
  App/backend/api/serializers/profile.py
  App/backend/api/serializers/serializers.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/profile.py
Labels: Effort: Medium, Priority: Medium, coding, backend

#271 Feature/FE-10
  App/backend/api/migrations/0001_initial.py
  App/frontend/package-lock.json
  App/frontend/package.json
  App/frontend/public/favicon.ico
  App/frontend/public/index.html
  App/frontend/public/logo192.png
  App/frontend/public/logo512.png
  App/frontend/public/manifest.json
  App/frontend/src/App.css
  App/frontend/src/App.js
  App/frontend/src/auth/authentication.js
  App/frontend/src/components/Canvas.js
  App/frontend/src/components/LoginModal.js
  App/frontend/src/components/ResetPasswordModal.js
  App/frontend/src/components/styles/Access.css
  App/frontend/src/components/styles/Searchbar.css
  App/frontend/src/images/300px.jpg
  App/frontend/src/index.css
  App/frontend/src/layout/Layout.js
  App/frontend/src/layout/Mainbar.js
  App/frontend/src/layout/MainbarLogged.js
  App/frontend/src/layout/Sidebar.js
  App/frontend/src/layout/data/SidebarData.js
  App/frontend/src/layout/styles/Sidebar.css
  App/frontend/src/pages/ArtItem.js
  App/frontend/src/pages/Profile.js
  App/frontend/src/pages/Settings.js
  App/frontend/src/pages/data/SampleGallery.js
  App/frontend/src/pages/styles/ArtItem.css
  App/frontend/src/pages/styles/Profile.css
  App/frontend/src/pages/styles/Settings.css
Labels: Effort: Medium, Priority: High

#262 Feature/be 20
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/models.py
  App/backend/api/serializers/comments.py
  App/backend/api/serializers/serializers.py
  App/backend/api/urls.py
  App/backend/api/views/comments.py
  App/backend/backend/settings/base.py
  App/backend/requirements.txt
Labels: Effort: Medium, Priority: High, Status: review needed, coding, backend

#251 feature/BE-17
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/artitem.py
  App/backend/api/serializers/serializers.py
  App/backend/api/tests/test_artitems.py
  App/backend/api/urls.py
  App/backend/api/utils.py
  App/backend/api/views/artitem.py
  App/backend/api/views/profile.py
  App/backend/requirements.txt
Labels: Effort: High, Priority: High, Status: Review Needed, Coding, Team: Backend

#274 feature/BE-22
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/user.py
  App/backend/api/serializers/auth.py
  App/backend/api/serializers/follow.py
  App/backend/api/serializers/serializers.py
  App/backend/api/tests/test_artitems.py
  App/backend/api/tests/test_follow.py
  App/backend/api/tests/test_register.py
  App/backend/api/urls.py
  App/backend/api/views/artitem.py
  App/backend/api/views/follow.py
Labels: Effort: Medium, Priority: High, Status: Review Needed, Coding, Team: Backend

#259 Feature/be 19
  App/backend/api/admin.py
  App/backend/api/migrations/0001_initial.py
  App/backend/api/models/user.py
  App/backend/api/serializers/auth.py
  App/backend/api/urls.py
  App/backend/api/views/auth.py
  App/backend/backend/settings/development.py
  App/backend/backend/settings/production.py
  App/backend/requirements.txt
Labels: Effort: High, Priority: Medium, Status: Review Needed, Coding, Team: Backend

#280 Feature/MOB7
  App/mobile/.flutter-plugins
  App/mobile/.flutter-plugins-dependencies
  App/mobile/artopia.iml
  App/mobile/assets/fe_images/300px.jpg
  App/mobile/assets/fe_images/angel.jpg
  App/mobile/assets/fe_images/aurora.jpg
  App/mobile/assets/fe_images/beach.jpg
  App/mobile/assets/fe_images/bluebuilding.jpg
  App/mobile/assets/fe_images/buddhists.jpg
  App/mobile/assets/fe_images/cyber.jpg
  App/mobile/assets/fe_images/defaultUserImage.png
  App/mobile/assets/fe_images/greencadillac.jpeg
  App/mobile/assets/fe_images/greenface.jpg
  App/mobile/assets/fe_images/greenfood.jpg
  App/mobile/assets/fe_images/haybales.jpg
  App/mobile/assets/fe_images/lost.jpg
  App/mobile/assets/fe_images/rome.jpg
  App/mobile/assets/fe_images/wheat.jpg
  App/mobile/assets/images/blank_profile.jpeg
  App/mobile/assets/images/defaultUserImage.jpeg
  App/mobile/ios/Flutter/Debug.xcconfig
  App/mobile/ios/Flutter/Release.xcconfig
  App/mobile/ios/Podfile
  App/mobile/lib/home_page.dart
  App/mobile/lib/landing_page.dart
  App/mobile/lib/login_page.dart
  App/mobile/lib/main.dart
  App/mobile/lib/routes.dart
  App/mobile/lib/signup_page.dart
  App/mobile/lib/templates.dart
  App/mobile/lib/variables.dart
  App/mobile/lib/widgets/posts.dart
  App/mobile/linux/flutter/generated_plugin_registrant.cc
  App/mobile/linux/flutter/generated_plugins.cmake
  App/mobile/pubspec.lock
  App/mobile/pubspec.yaml
  App/mobile/test/widget_test.dart
  App/mobile/windows/flutter/generated_plugin_registrant.cc
  App/mobile/windows/flutter/generated_plugins.cmake
Labels: Enhancement, Effort: Medium, Priority: Medium, Status: On Hold, Idea, Team: Mobile, Feedback
